<div>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="nombre">

  <label for="cantidadBoletos">Cantidad de Boletos:</label>
  <input type="number" id="cantidadBoletos" [(ngModel)]="cantidadBoletos" (input)="calcularPrecio()">

  <label for="cantidadCompradores">Cantidad de Compradores:</label>
  <input type="number" id="cantidadCompradores" [(ngModel)]="cantidadCompradores" (input)="calcularPrecio()">

  <label for="usaCineco">Usar Cineco:</label>
  <input type="checkbox" id="usaCineco" [(ngModel)]="usaCineco" (change)="calcularPrecio()">

  <div *ngIf="mensajeError">{{ mensajeError }}</div>

  <p>Total Boletos: {{ totalBoletos }}</p>
  <p>Total a Pagar: {{ totalAPagar | currency }}</p>
</div>

