.container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 5px;
  }
  
  .color-selection-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    font-size: 1.2rem; /* Aumentar el tamaño de la fuente */
  }
  
  .color-selection-table th,
  .color-selection-table td {
    border: 1px solid #ddd;
    padding: 20px; /* Aumentar el padding para filas más altas */
    text-align: center;
  }
  
  .color-select {
    width: 100%;
    padding: 10px; /* Aumentar el tamaño del select */
    font-size: 1.2rem; /* Aumentar el tamaño de la fuente en el select */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .tolerance {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .tolerance label {
    margin-bottom: 5px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .result-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .result-table th,
  .result-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
  }
  
  .result-table th {
    background-color: #f4f4f4;
  }
  